/*
Color Palette I'm using http://paletton.com/#uid=13x0u0knoqOp+EmoQv8lFm9jEh7
*/

body,
html {
    height: 100%;
    color: #fff;
}

.flex-grow {
    flex: 1 0 auto;
}

a {
    color: #00B7FF;
}

// IE will recognize it as block at least
video {
    display: block;
}


#bgvid {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%); //background: url(polina.jpg) no-repeat;
    background-size: cover;

}

h1 {
    font-family: "Lato", sans-serif;
    font-weight: 700;
    letter-spacing: 0;
    text-shadow: 2px 2px 3px black;

}

h1 span {
    color: #f2f2f2;
}

h2 {
    font-family: 'Poppins', sans-serif;
    text-align: center;
}

p {
    font-family: 'Open Sans', sans-serif;
    color: #fff;
}

.slogan {
    font-family: "Raleway", sans-serif;
    color: black;
}

.logo-center {}

.darken-effect {
    //background-color: #2A5172; 
    background: rgba(0, 0, 0, 0.0);
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -99;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%); //background: url(polina.jpg) no-repeat;
    background-size: cover;
}

.header {
    background-color: #fff;
    opacity: 0.9;
    color: black;
}

.footer {
    background-color: #17335b;
    opacity: 0.9;
}

.middle-content {
  display: flex;
  align-items: center;
  justify-content: center;
}



















